
.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*grid-column-gap: 1em;
	grid-row-gap: 1em;*/
	grid-gap: 1em; /*this give equal spacing between column and row*/
	
}

.start {
	border: 2px solid purple;
	grid-column: 1/4;
	grid-row: 1;
}

.title {
	border: 2px solid orange;
	grid-column: 1/4;
	grid-row: 2;
}

.clues {
	border: 2px solid black;
	grid-column: 1;
	grid-row: 3/5;
}

.images {
	border: 2px solid green;
	grid-column: 2;
	grid-row: 3;
	height: 500px;
	/*display: grid;*/
	/*grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	grid-auto-rows: minmax(100px, auto);*/
	display: flex; /*so image can be centered*/
	
}

.cover {
	border: 2px solid blue;
	grid-column: 2;
	grid-row: 3;
	z-index: 1; /*this gives the z-axis, 0 is way back, 1 is way front*/
	/*background: blue;*/
	display: grid;
}

.coverParts {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*grid-auto-rows: 70px;
	grid-gap: 1em;*/

}

.coverParts > div {
	border: 1px solid black;
}

#clue1 {
	background: red;
	opacity: 0;
}

#clue2 {
	background: white;
	opacity: 0;
}

#clue3 {
	background: blue;
	opacity: 0;
}

.scoreboard {
	border: 2px solid blue;
	grid-column: 3;
	grid-row: 3;	
}

.stats {
	border: 2px solid gold;
	grid-column: 3;
	grid-row: 4;

}

.lastName {
	border: 2px solid red;
	grid-column: 2;
	grid-row: 4;
}

#gameImage {
	
	margin: auto;
	border: 2px solid pink;

}

.test {
	border: 2px solid yellow;
}

